# Cron job to git clone/pull a repo and then run locally
# Possible staggered run: -s $((${RANDOM} % 600))
{{ pull_schedule }} {{ cron_user }} ansible-pull -s $((${RANDOM} % 600)) -d {{ workdir }} -o --accept-host-key -U {{ repo_url }} >>{{ logfile }} 2>&1
